bcrypt==4.0.1
blinker
click==8.1.7
colorama==0.4.6
dnspython
email-validator
Flask
Flask-Bcrypt
Flask-Login
Flask-SQLAlchemy
Flask-WTF
greenlet
gunicorn
idna
itsdangerous
Jinja2
MarkupSafe
packaging
SQLAlchemy
typing_extensions
Werkzeug
WTForms
